body {
  font-family: Arial;
  padding: 40px;
  background: #f4f4f4;
}

h1 {
  color: #333;
}

form input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}
a {
  color: red;
  text-decoration: none;
}
